* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100svh;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 24px;
}

.gridcontainer {
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 24px;
    border: none;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gridChild {
    padding: 32px;
    border-radius: 8px;
}

.gridchild1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(115, 63, 200, 1);
}

.gridchild2 {
    background: rgba(72, 85, 106, 1);
}

.gridchild3 {
    background: rgb(229, 41, 41);
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
}

.gridchild4 {
    background-color: brown;
}

.gridchild5 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgba(25, 32, 45, 1);
}

img {
    width: 28px;
    height: 28px;
}

.profile {
    display: flex;
    text-align: center;
}

.name {
    display: flex;
    text-align: start;
    color: rgba(255, 255, 255, 1);

    img {
        margin-right: 8px;
    }
}

.user {
    width: 73px;
    height: 13px;
    display: inline;
    font-weight: 200;
    font-size: 13px;
    line-height: 13px;
}

.verified {
    opacity: 50%;
    font-size: 11px;
    line-height: 11px;
    font-weight: 500;
}

.wide {
    font-weight: 600px;
    font-size: 20px;
    line-height: 24px;
    text-wrap: wrap;
    color: rgba(255, 255, 255, 1);
    margin-top: 18px;
}

.widecomment {
    opacity: 70%;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-wrap: wrap;
    margin-top: 16px;
    color: rgba(207, 207, 207, 1);
}

.paragraph {
    font-weight: 600px;
    font-size: 20px;
    line-height: 24px;
    text-wrap: wrap;
    color: rgba(255, 255, 255, 1);
    margin-top: 18px;
}

.comment {
    opacity: 70%;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-wrap: wrap;
    margin-top: 16px;
    color: rgba(207, 207, 207, 1);
    overflow-y: scroll;
}

@media (max-width: 1150px) {
    .gridcontainer {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        overflow-y: scroll;
    }
    .gridChild {
        grid-column: unset;
        grid-row: unset;
    }
}
@media (max-width: 800px) {
    .gridcontainer {
        grid-template-columns: 1fr;
    }
}